
body {
  padding-top: 70px;
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav > li > .navbar-brand-wckddev {
    padding-top: 7px;
}

.caption-uniform-block {
    height: 120px;
}

.thumbnail .well {
    margin-bottom: 0;
    margin: 9px;
}

.caption h3 {
    margin-top: 0;
}

.indent {
    padding-left: 20px;
}