
body {
  padding-top: 70px;
}

.navbar-brand img {
    width: 60px;
}

.navbar-nav > li > .navbar-brand-wckddev {
    padding-top: 7px;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #666666 0%, #2e2e2e 100%);
  background-image: linear-gradient(to bottom, #666666 0%, #2e2e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff2e2e2e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #1c1c1c;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2e2e2e;
  border-color: #666666;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #2e2e2e;
  border-color: #1c1c1c;
}